<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="CSS/mathangthuonghieu.css">
<title>Chi tiết mặt hàng</title>
</head>
<body>
	<section class="header">
		<div class="container">
			<div class="row py-3 align-items-center">
				<div class="col-md-3">
					<a th:href="@{/home(khachhang_id=${khachhang_id})}"> <img
						src="/image/logo.webp" class="img-fluid" alt="Logo">
					</a>
				</div>

				<div class="col-md-4">
					<form class="d-flex">
						<input class="form-control me-2" type="search"
							placeholder="Từ khóa tìm kiếm" aria-label="Từ khóa tìm kiếm">
						<button class="btn btn-outline-danger" type="submit">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
				</div>

				<div class="col-md-5">
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="row align-items-center">
								<div class="col-md-3">
									<div class="fs-4 text-danger">
										<i class="fa-solid fa-phone-volume"></i>
									</div>
								</div>
								<div class="col-md-9">
									Tư vấn hỗ trợ<br> <strong class="text-danger">0862083358</strong>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="row align-items-center">
								<div class="col-md-3">
									<div class="fs-4 text-danger">
										<a class="logout" href="/"><i
											class="fa-solid fa-right-from-bracket"></i></a>
									</div>
								</div>
								<div class="col-md-9">
									Xin chào <br> <a class="logout" href="/"><strong
										class="text-danger">Đăng xuất</strong> </a>
								</div>
							</div>
						</div>
						<div class="col-md-1">
							<div class="row align-items-center">
								<div class="dropdown">
									<div class="fs-4 text-danger dropdown-toggle custom-dropdown"
										id="dropdownMenuButton" data-bs-toggle="dropdown"
										aria-expanded="false">
										<i class="fa-solid fa-bars"></i>
									</div>
									<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										<li><a class="dropdown-item fs-5" href="/">Thông tin
												cá nhân</a></li>
										<li><a class="dropdown-item fs-5" href="/">Địa chỉ
												nhận hàng</a></li>
										<li><a class="dropdown-item fs-5" href="/">Đổi mật
												khẩu</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="content my-3">
		<div class="container">
			<div class="slider">
				<div id="carouselExampleIndicators" class="carousel slide"
					data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="0" class="active" aria-current="true"
							aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="2" aria-label="Slide 3"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="3" aria-label="Slide 4"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators"
							data-bs-slide-to="4" aria-label="Slide 5"></button>
					</div>

					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="/image/banner/banner1.png" class="d-block w-100"
								alt="...">
						</div>
						<div class="carousel-item">
							<img src="/image/banner/banner2.png" class="d-block w-100"
								alt="...">
						</div>
						<div class="carousel-item">
							<img src="/image/banner/banner3.png" class="d-block w-100"
								alt="...">
						</div>
						<div class="carousel-item">
							<img src="/image/banner/banner4.png" class="d-block w-100"
								alt="...">
						</div>
						<div class="carousel-item">
							<img src="/image/banner/banner5.png" class="d-block w-100"
								alt="...">
						</div>
					</div>

					<button class="carousel-control-prev" type="button"
						data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button"
						data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
		<div class="container py-3">
			<div
				class="row align-items-center mathangthuonghieu">

				<div class="boder-bottom mb-3">
					<strong class="text-white bg-danger py-2 px-2 fs-5" th:text="${tenthuonghieu}"></strong>
				</div>
				<div class="col-md-2 col-sm-6 mb-3" th:each="mathang : ${mathangs}">
					<a
						th:href="@{/chitietmathang(mathang_id=${mathang.id}, khachhang_id=${khachhang_id})}">
						<img
						th:src="@{/image/mathang/{imgmathang}(imgmathang=${mathang.imgmathang})}"
						alt="${mathang.ten}" class="img-fluid">
						<h6 class="mathang_ten" th:text="${mathang.ten}"></h6> <h7
							th:text="'Giá: ' + ${mathang.gia}"></h7></br> <h7
							th:text="'Lượt bán: ' + ${mathang.luotban}"></h7>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="footer bg-dark text-white py-4">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h5>VĂN PHÒNG GIAO DỊCH</h5>
					<ul class="list-menu">
						<li class="li_menu"><a href="/" title="Trang chủ">Trang
								chủ</a></li>
						<li class="li_menu"><a href="/" title="Tất cả sản phẩm">Tất
								cả sản phẩm</a></li>
						<li class="li_menu"><a href="/" title="Danh mục">Danh mục</a></li>
						<li class="li_menu"><a href="/" title="Thương hiệu">Thương
								hiệu</a></li>
						<li class="li_menu"><a href="/" title="Giới thiệu">Giới
								thiệu</a></li>
						<li class="li_menu"><a href="/" title="Tin tức">Tin tức</a></li>
						<li class="li_menu"><a href="/" title="Liên hệ">Liên hệ</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>VỀ CHÚNG TÔI</h5>
					<ul class="list-menu">
						<li class="li_menu"><a href="/" title="Trang chủ">Trang
								chủ</a></li>
						<li class="li_menu"><a href="/" title="Tất cả sản phẩm">Tất
								cả sản phẩm</a></li>
						<li class="li_menu"><a href="/" title="Danh mục">Danh mục</a></li>
						<li class="li_menu"><a href="/" title="Thương hiệu">Thương
								hiệu</a></li>
						<li class="li_menu"><a href="/" title="Giới thiệu">Giới
								thiệu</a></li>
						<li class="li_menu"><a href="/" title="Tin tức">Tin tức</a></li>
						<li class="li_menu"><a href="/" title="Liên hệ">Liên hệ</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>CHĂM SÓC KHÁCH HÀNG</h5>
					<ul class="list-menu">
						<li class="li_menu"><a href="/" title="Trang chủ">Trang
								chủ</a></li>
						<li class="li_menu"><a href="/" title="Tất cả sản phẩm">Tất
								cả sản phẩm</a></li>
						<li class="li_menu"><a href="/" title="Danh mục">Danh mục</a></li>
						<li class="li_menu"><a href="/" title="Thương hiệu">Thương
								hiệu</a></li>
						<li class="li_menu"><a href="/" title="Giới thiệu">Giới
								thiệu</a></li>
						<li class="li_menu"><a href="/" title="Tin tức">Tin tức</a></li>
						<li class="li_menu"><a href="/" title="Liên hệ">Liên hệ</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>THEO DÕI CHÚNG TÔI</h5>
					<ul class="list-menu">
						<li class="li_menu"><a href="/" title="Trang chủ">Trang
								chủ</a></li>
						<li class="li_menu"><a href="/" title="Tất cả sản phẩm">Tất
								cả sản phẩm</a></li>
						<li class="li_menu"><a href="/" title="Danh mục">Danh mục</a></li>
						<li class="li_menu"><a href="/" title="Thương hiệu">Thương
								hiệu</a></li>
						<li class="li_menu"><a href="/" title="Giới thiệu">Giới
								thiệu</a></li>
						<li class="li_menu"><a href="/" title="Tin tức">Tin tức</a></li>
						<li class="li_menu"><a href="/" title="Liên hệ">Liên hệ</a></li>
					</ul>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-6">
					<h5>THIÊN ĐƯỜNG MUA SẮM DOLA STYLE</h5>
					<p class="m-0">Copyright@ 2024 Công ty cố phần thương mại Dola
						Style</p>
					<p class="m-0">Chứng nhận ĐKKD số 0137825624 do sở KH&ĐT TP.Hà
						Nội cấp</p>
					<p class="m-0">Địa chỉ: Tòa nhà VinHome 123 Thanh Xuân, Hà
						Đông, Hà Nội</p>
					<p class="m-0">Điện thoại: 19001888 - Email:
						thangbaitaikynang@gmail.com</p>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3">
						<input type="text" class="form-control"
							placeholder="Nhập email của bạn" aria-label="Nhập email của bạn"
							aria-describedby="basic-addon2"> <span
							class="input-group-text text-white bg-danger" id="basic-addon2">ĐĂNG
							KÝ</span>
					</div>

					<div>
						<span class="box40 bg-white text-primary"> <i
							class="fa-brands fa-facebook fs-4"></i>
						</span> <span class="box40 bg-white text-primary"> <i
							class="fa-brands fa-twitter fs-4"></i>
						</span> <span class="box40 bg-white text-danger"> <i
							class="fa-brands fa-google fs-4"></i>
						</span> <span class="box40 bg-white text-danger"> <i
							class="fa-brands fa-youtube fs-4"></i>
						</span>
					</div>
				</div>
			</div>
			<hr>
			<div class="row justify-content-center">Trang chủ - Tất cả sản
				phẩm - Danh mục - Thương hiệu - Giới thiệu - Tin tức - Liên hệ</div>
		</div>

	</section>

	<div id="khachhangId" th:text="${khachhang_id}" style="display: none;"></div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

	<script src="https://kit.fontawesome.com/354a210e1d.js"
		crossorigin="anonymous"></script>



</body>
</html>