
.box40 {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: inline-block;
}

/* Loại bỏ dấu chấm trước mỗi dòng li */
.list-menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Loại bỏ dấu gạch ngang dưới chân nội dung li */
.li_menu {
	text-decoration: none;
	padding-bottom: 0;
}

.li_menu a {
	text-decoration: none;
	color: white;
}


.logout {
	text-decoration: none;
	padding-bottom: 0;
	color: #dc3545;
}

.dropdown-menu {
	min-width: 200px;
}

.dropdown-item {
	font-size: 16px;
	padding: 10px 20px;
	color: black;
}

.custom-dropdown::after {
	display: none; /* Ẩn hình tam giác */
}
.custom-dropdown {
    cursor: pointer; /* Thiết lập con trỏ thành bàn tay */
}
.dropdown-item:hover {
    background-color: #dc3545; /* Đổi màu nền khi di chuột qua */
    color:white;
    transition: background-color 0.3s ease; /* Thêm hiệu ứng chuyển đổi */
}


.header {
    position: sticky;
    top: 0;
    background-color: white; /* Điều chỉnh màu nền nếu cần */
    z-index: 1000; /* Đảm bảo header hiển thị trên cùng */
}
.mathang_ten {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2; /* Điều chỉnh chiều cao dòng nếu cần thiết */
    max-height: 2.4em; /* 2 dòng * chiều cao dòng (line-height) */
}
.mathangthuonghieu a {
	color: black;
	text-decoration: none;
	display: block;
	border: 1px solid transparent; /* Định nghĩa viền ban đầu */
	padding: 5px;
}
.mathangthuonghieu a:hover {
	border-color: red;
	background-color: #dc3545;
	color: white;
}